@media print, (max-width: 1023px) {
 
    :root {
        /* --font_size: 15px; */
        --font_size_title: 26px;
    }

    .licenses_desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .licenses_desc a {
        margin-top: 22px;
    }
    .header_top-left {
        display: none;
    }
    .header_top-right {
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_top-time {
        width: 100%;
        text-align: center;
        margin-bottom: 12px;
    }
    .header_top-phone {
        margin-left: 0;
        font-size: 26px;
        line-height: 32px;
    }
    .header_top-phone + .header_top-phone {
        margin-left: 28px;
    }
    .header_top .cont {
        padding-top: 22px;
        padding-bottom: 22px;
    }
    .main_slider .slide .cont {
        min-height: 510px;
        padding-top: 95px;
        padding-bottom: 95px;
    }
    .main_slider-title {
        font-size: 52px;
        margin-bottom: 99px;
    }
    .slider .slick-arrow.prev {
        left: 40px;
    }
    .slider .slick-arrow.next {
        right: 40px;
    }
    .title {
        margin-bottom: 40px;
    }
    .about_wrap {
        flex-direction: column-reverse;
    }
    .about_img {
        width: 100%;
    }


    

    
}
