/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}





/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}




/*-------------------
    Global styles
-------------------*/
:root {
    --text_color: #2E2E2E;
    --text_color2: #FA9632;
    --text_color3: #0A7391;
    --font_size: 18px;
    --font_size_title: 33px;
    --font_family: 'Rubik', sans-serif;
    --font_family2: 'Montserrat', sans-serif;
    ;
}

::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1244px;
    margin: 0 auto;
    padding: 0 20px;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 110px;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}





/*------------
    Header
------------*/

header .mob_menu_btn {
    display: none;
    margin-right: 19px;
    width: 162px;
    height: 78px;
    padding: 0 33px;
    background: #0A7391;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    text-transform: uppercase;
}

header .mob_menu_btn img {
    display: block;
    width: 27px;
    height: 18px;
    margin-right: 10px;
}

header .close_btn {
    order: 1;
    display: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 28px;
    height: 28px;
    z-index: 120;

}

.header_bottom .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .menu {
    display: flex;
    align-items: center;
    margin-right: auto;
}

header .menu .item>a {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--text_color);
    margin-right: 31px;
    position: relative;
    display: flex;
    transition: color .2s linear;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    transition: all .4s;
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

header .menu .item:last-child>a {
    margin-right: 0;
}

header .menu .item:hover>a {
    color: var(--text_color2);
}

.header_top {
    background: #F5F9FB;
}

.header_top .cont {
    padding-top: 11px;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_top-left {
    display: flex;
    align-items: center;
}

.header_top-right {
    display: flex;
    align-items: center;
}

.header_top-email {
    text-decoration: none;
    border-bottom: 1px solid var(--text_color2);
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--text_color2);
    white-space: nowrap;
    display: block;
    margin-right: 43px;
}

.header_top-adress {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color:  var(--text_color);
}

.header_top-time {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: var(--text_color);
}

.header_top-phone {
    text-decoration: none;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 21px;
    text-align: right;
    color: #4C4C4C;
    display: block;
    margin-left: 24px;
}

.header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header_bottom .cont {
    padding-top: 15px;
    padding-bottom: 14px;
}

.header_logo {
    margin-right: 64px;
}


.btn {
    background: linear-gradient(93.18deg, #0A7391 0%, #0A6091 87.59%);
    text-decoration: none;
    padding: 22px 17px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    transition: all .4s;
}

header .btn img {
    display: block;
    margin-right: 11px;
}

.header_bottom .btn {
    position: absolute;
    right: -100px;
    top: 0;
    width: 380px;    
}
.btn:hover {
    background: linear-gradient(269.73deg, #FA9632 7.07%, #FAB632 96.62%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 9px 22px rgba(250, 150, 50, 0.3), 0px 3px 0px rgba(232, 122, 12, 0.8), inset 0px 0px 11px rgba(255, 255, 255, 0.4);
}
.block {
    padding: 120px 0;
}


/* main_slider */
.main_slider .slide {
    position: relative;
    overflow: hidden;
}

.main_slider .slide .cont {
    position: relative;
    z-index: 3;
    display: flex;
    min-height: 709px;
    padding-top: 115px;
    padding-bottom: 143px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.main_slider .slide .bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
}

.main_slider-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_slider-title {
    margin-bottom: 113px;
    font-family: var(--font_family2);
    font-weight: 900;
    font-size: 88px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
}

.main_slider-btn {
    font-family: var(--font_family2);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: linear-gradient(269.73deg, #FA9632 7.07%, #FAB632 96.62%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 9px 22px rgba(250, 150, 50, 0.3), 0px 3px 0px rgba(232, 122, 12, 0.8), inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    width: 302px;
    height: 64px;
    position: relative;
    padding: 0 39px;
    text-align: left;
    margin: 0 auto;
}

.main_slider-btn:after {
    position: absolute;
    width: 72px;
    height: 14px;
    background: url(../images/btn_text.svg);
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
}

.main_slider-btn:before {
    position: absolute;
    width: 55px;
    height: 95px;
    background: url(../images/btn_img.png);
    bottom: 0px;
    right: 15px;
    content: "";
}
.main_slider .bg::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(187.63deg, rgba(250, 150, 50, 0.7) 6.02%, rgba(6, 96, 154, 0.7) 94.2%);
}
.slider .slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
    z-index: 2;
    font-size: 0; 
    width: 40px; 
    height: 40px; 
}
.slider .slick-arrow.prev {
    left: calc(50% - 602px);
    background: url('../images/prev.svg') 0 0 / 100% no-repeat; 
    border-radius: 2px;
    cursor: pointer;
}

.slider .slick-arrow.next{
    right: calc(50% - 602px);
    background: url('../images/next.svg') 0 0 / 100% no-repeat;
    border-radius: 2px;
    cursor: pointer;
}



.title {
    font-family: var(--font_family2);
    font-weight: 900;
    font-size: var(--font_size_title);
    line-height: 40px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text_color);
    text-align: center; 
    position: relative;
    margin-bottom: 40px;
    margin-left: 30px;
    margin-right: 30px;

}
.title span {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.title span::after {
    position: absolute;
    content: "";
    width: 1000px;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% + 30px);
    height: 11px;  
    background: url(../images/title_line.svg);
    background-repeat: repeat;
    background-size: cover;
}
.title span::before {
    position: absolute;
    content: "";
    right: calc(100% + 30px);
    top: 50%;
    transform: translateY(-50%);
    width: 1000px;
    height: 11px;  
    background: url(../images/title_line.svg);
    background-repeat: repeat;
    background-size: cover;
}

.gallery_title span::after {
    opacity: 0.1;
}
.gallery_title span::before {
    opacity: 0.1;
}
.service_title span::after {
    opacity: 0.1;
}
.service_title span::before {
    opacity: 0.1;
}

.about {
    background: linear-gradient(0deg, rgba(245, 249, 251, 0.96), rgba(245, 249, 251, 0.96)), url(../images/bg.png);   
}
.about_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about_info {
    width: calc(100% - 514px);
}
.about_info-text {
    margin-bottom: 40px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 160%;
    color: var(--text_color);
}
.about_info-text b {
    font-weight: 600;
}
.about_info-subtitle {
    font-family: var(--font_family2);
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    letter-spacing: 0.02em;
    color: var(--text_color);
    margin-bottom: 30px;
}
.about_items {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.about_items > * {
    width: calc(100%/2 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 22px 22px 25px;
    background: #FFFFFF;
    box-shadow: 0px 14px 18px -7px rgba(6, 96, 154, 0.08);
    border-radius: 2px;
    min-height: 193px;
}
.about_item-img {
    display: flex;
    align-items: center;
}
.about_item-img span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: var(--text_color3);
    opacity: 0.4;   
    margin-left: 24px;
    display: block; 
}
.about_item-title {
    margin-top: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text_color);
}
.about_img {
    width: 490px;
    height: 648px;
    flex-shrink: 0;
}
.about_img img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    object-fit: cover;
}
.about_img-mob {
    display: none;
}


.tab_content {
    display: none;
}
.tab_content.active {
    display: block;
}
.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 52px;
}
.tabs button {
    border-bottom: 2px dotted rgba(250, 150, 50, 0.2);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-right: 22px;
    transition: all .4s;
}
.tabs button:last-child {
    margin-right: 0;    
}
.tabs button.active {
    color: var(--text_color2);
    border-bottom: 2px dotted transparent;
}
.tabs button:hover {
    border-bottom: 2px dotted var(--text_color2);
}
.service {
    background: var(--text_color);
    padding-bottom: 65px;
}
.service_title {
    color: #fff;
    margin-bottom: 13px;
}
.service_desc {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 21px;
    text-align: center;
    color: #FFFFFF; 
    margin-bottom: 45px;
}
.service_items {
    counter-reset: step;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-bottom: -20px;
}
.service_items > * {
    position: relative;
    width: calc(100%/4 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 39px 20px 16px;
    border: 1px solid var(--text_color2);
    border-radius: 2px;
    cursor: pointer;
    min-height: 135px;
}
.service_item:before {
    content: "0" counter(step) "";
    counter-increment: step;
    position: absolute;
    top: 13px;
    font-weight: 700;
    font-size: var(--font_size);
    line-height: 21px;
    color: var(--text_color2);
}
.service_item-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;    
    color: #FFFFFF;
    transition: all .4s;
}
.service_item {
    transition: all .4s;
    text-decoration: none;
}
.service_item:active .service_item-title {
    color: #000;
}
.service_item:hover .service_item-title {
    color: var(--text_color2);
}
.service_item-logo:before {
    display: none;
}
.service_item-logo {
    padding: 16px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}




.licenses {
    background: url(../images/bg.png);
}
.licenses_slider .slick-slide.slick-active {
    opacity: 0.3;
    box-shadow: 0px 12px 40px -4px rgba(0, 0, 0, 0.14);
    width: 232px;
    height: auto;
    margin: 0 130px;
}
.licenses .slick-center {
    transform: scale(1.5);
    border: 8px solid var(--text_color3);
    margin: 0 164px;
    width: 249px;
    height: auto;
}
.licenses .slick-track {
    padding: 130px 0 0;
}
.licenses_title {
    margin-bottom: 30px;
}
.licenses_desc {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color: var(--text_color);
}
.licenses_desc a {
    text-decoration: none;
    background: #FFFFFF;
    border: 1px solid #EBEBEB;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.06);
    border-radius: 2px;
    padding: 4px 8px;
    font-weight: 500;
    font-size: var(--font_size);
    line-height: 21px;    
    color: #06609A;
    white-space: nowrap;
}

.licenses_slider .slick-slide.slick-center.slick-active.slick-current {
    opacity: 1;
    background: var(--text_color3);
    box-shadow: 0px 6px 22px rgba(0, 0, 0, 0.09);
}
.licenses_slider .slick-arrow {
    position: absolute;
    top: 35%;
    z-index: 2;
    font-size: 0; 
    width: 40px; 
    height: 40px; 
}
.licenses_slider .slick-arrow.prev {
    left: calc(50% - 340px);
    background: url('../images/prev.svg') 0 0 / 100% no-repeat; 
    border-radius: 2px;
    cursor: pointer;
}
.licenses_slider .slick-arrow.next{
    right: calc(50% - 340px);
    background: url('../images/next.svg') 0 0 / 100% no-repeat;
    border-radius: 2px;
    cursor: pointer;
}
.licenses_slider .slick-slide img {
    width: 100%;
    height: 100%;
}


.gallery {
    background: var(--text_color);
}
.gallery .cont {
    max-width: 1388px;
}
.gallery_title {
    color: #fff;
    margin-bottom: 54px;
}
.gallery-grid-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gallery-grid-desc img {
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.gallery-grid-desc a {
    position: relative;
    transition: all .4s;
}
.gallery-grid-desc a:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.gallery-grid-desc a:hover:after {
    position: absolute;
    content: "";
    background: rgba(250, 150, 50, 0.8);
    background-repeat: no-repeat;
    background-image: url(../images/gallery_logo.svg);
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-position: center center;
}

.gallery-grid-desc .gallery-grid-first-col {
    margin-right: 16px;
}

.gallery-grid-desc .item-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 436px;
    height: 560px;
}

.gallery-grid-desc .gallery-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 892px;
    margin-bottom: 20px;
}

.gallery-grid-desc .gallery-row:last-child {
    margin-bottom: 0;
}

.gallery-grid-desc .item-2,
.gallery-grid-desc .item-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 322px;
    height: 289px;
}

.gallery-grid-desc .item-4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 208px;
    height: 289px;
}
.gallery-grid-desc .item-5, 
.gallery-grid-desc .item-7 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 322px;
    height: 251px;
}
.gallery-grid-desc .item-6 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
    width: 208px;
    height: 251px;
}
.gallery-grid-desc .item-5 img, 
.gallery-grid-desc .item-7 img {
    width: 100%;
    height: auto;
}
.gallery-slider .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    font-size: 0; 
    width: 40px; 
    height: 40px; 
}
.gallery-slider .slick-arrow.prev {
    left: calc(50% - 602px);
    background: url('../images/prev.svg') 0 0 / 100% no-repeat; 
    border-radius: 2px;
    cursor: pointer;
}

.gallery-slider .slick-arrow.next{
    right: calc(50% - 602px);
    background: url('../images/next.svg') 0 0 / 100% no-repeat;
    border-radius: 2px;
    cursor: pointer;
}



.contacts_title {
    margin-bottom: 55px;
}
.contacts_adress {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    color:  var(--text_color);
    margin-bottom: 12px;
}
.contacts_email {
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    color: var(--text_color2);
    margin-bottom: 25px;  
    display: block;
}
.contacts_wrap {
    display: flex;
    justify-content: space-between;
}
.contacts_info {
    position: relative;
    width: calc(100% - 525px);
}
.contacts_bg {
    position: absolute;
    right: 0;
    bottom: 0;
}
.contacts_items {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
    margin-left: -20px;
}
.contacts_items > * { 
    width: calc(100%/2 - 20px);
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 25px 28px 31px;
    background: #FFFFFF;
    border: 1px solid rgba(6, 96, 154, 0.11);
    box-shadow: 0px 12px 30px -5px rgba(10, 115, 145, 0.12);
    border-radius: 4px;
}
.contacts_item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    margin-bottom: 6px;
}
.contacts_item-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    margin-bottom: 12px;
}
.contacts_item-phone {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--text_color3);
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.contacts_item-phone img {
    display: block;
    margin-right: 12px;
    flex-shrink: 0;
}
.socials {
    margin-top: 74px;
}
.socials_text {
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 21px;
    color: #1B1B1B;
    margin-bottom: 28px;
}
.socials_links {
    display: flex;
    flex-direction: column;
}
.socials_links a {
    border-radius: 2px;
    width: 152px;
    height: 41px;
    font-weight: 400;
    font-size: var(--font_size);
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    margin-bottom: 16px;
}
.socials_links a img {
    display: block;
    margin-left: 10px;
}
.socials_links a:nth-child(1) {
    background: linear-gradient(265.99deg, #0077FF 12.87%, #0068DF 94.94%);
    box-shadow: 0px 6px 12px rgba(0, 113, 241, 0.33);
}
.socials_links a:nth-child(2) {
    background: linear-gradient(265.99deg, #4CCE1E 12.87%, #25E873 94.94%);
    box-shadow: 0px 6px 12px rgba(57, 219, 71, 0.33);
}
.socials_links a:nth-child(3) {
    background: linear-gradient(93.96deg, #2F89CE 37.12%, #00B2FF 95.65%);
    box-shadow: 0px 6px 12px rgba(47, 137, 206, 0.33);
    margin-bottom: 0;
}
.contacts .map_wrap {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    width: 490px;
    height: 402px;
    transform: translateZ(0);
    border-radius: 2px;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




.geography_title {
    margin-bottom: 60px;
}

.geography_img img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



footer {
    padding: 31px 0 30px;
    background: #1B1B1B;
}
footer .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_copy {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
footer .menu {
    display: flex;
    align-items: center;
    margin-right: 81px;
    margin-left: 81px;
}
footer .menu .item a {
    transition: all .4s;
}
footer .menu .item > a {
    margin-right: 42px;    
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
footer .menu .item:last-child > a {
    margin-right: 0px;
}
footer .menu .item:hover > a {
    color: var(--text_color2);
}
.footer_politic {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: var(--text_color2);
}



.carousel__button {
    background: #fff;
    border-radius: 0;
}
.fancybox__content>.carousel__button.is-close {
    top: 30px;
    right: 30px;
}
.modal {
    display: none;
    max-width: 480px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 142px 60px;
}
.modal_title {
    font-family: var(--font_family2);
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color:  var(--text_color);
    margin-bottom: 36px;
}
.modal form .line {
    width: 100%;
    margin-bottom: 17px;
}
.modal form .line .field {
    width: 100%;
}
.modal form .line .field input {
    width: 100%;
    padding: 0 18px;
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 49px;
    color: #949494;
}
.modal form .line .field textarea {
    width: 100%;
    height: 89px;
    padding: 15px 18px;
    background: #F5F5F5;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    font-family: var(--font_family);
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #949494;
    resize: none;
}
.form_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: var(--text_color);
    margin-top: 36px;
    margin-bottom: 12px;
}
.modal form .btn {
    width: 100%;
    justify-content: center;
    height: 64px;
    background: linear-gradient(269.73deg, #FA9632 7.07%, #FAB632 96.62%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 9px 22px rgba(250, 150, 50, 0.3), 0px 3px 0px rgba(232, 122, 12, 0.8), inset 0px 0px 11px rgba(255, 255, 255, 0.4);
    border-radius: 2px;
}


.modal_thanks {
    padding: 99px 74px;
}
.modal_thanks-icon {
    margin: 0 auto 38px;
}
.modal_thanks-title {
    font-family: var(--font_family2);
    font-weight: 900;
    font-size: 57px;
    line-height: 69px;
    text-align: center;
    text-transform: uppercase;    
    color: var(--text_color); 
    margin-bottom: 8px;
}
.modal_thanks-subtitle {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: var(--text_color3);
    margin-bottom: 38px;
}
.modal_thanks-text {
    font-weight: 300;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: var(--text_color);
}